<div class="container">
    <nav class="nav">
        <div class="logo_container">
            <span class="logo">NTD</span>
        </div>
        <div class="router_container">
            <a class="link"
               routerLink="/products"
               routerLinkActive="active-link"
               ariaCurrentWhenActive="page">Продукты</a>
            <a class="link"
               routerLink="/measures"
               routerLinkActive="active-link"
               ariaCurrentWhenActive="page">Ед.Измерения</a>
        </div>
    </nav>
</div>