<div class="container">
    <mat-table [dataSource]="dataSource"
               class="table-core">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      (click)="openChangeProductModal(element.id)">
                {{ element.id }}
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Значение</mat-header-cell>
            <mat-cell *matCellDef="let element"
                      (click)="openChangeProductModal(element.id)">{{ element.value }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"
                        class="custom-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div class="table-actions">
        <button mat-raised-button
                color="primary"
                (click)="openCreateProductModal()">Добавить</button>
        <mat-paginator [pageSize]="10"
                       [pageSizeOptions]="[10, 15]"
                       class="custom-paginator mat-paginator-dropdown"></mat-paginator>
    </div>
</div>