<div class="modal-overlay"
     (click)="closeDialog()">
    <div class="modal-content"
         (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2>Информация о продукте</h2>
            <button mat-icon-button
                    color="primary"
                    (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Название:</label>
                <input id="name"
                       matInput
                       [(ngModel)]="editedProduct.name"
                       [disabled]="!editMode">
            </div>
            <div class="form-group">
                <label for="cost">Стоимость:</label>
                <input id="cost"
                       matInput
                       [(ngModel)]="editedProduct.unit_cost"
                       [disabled]="!editMode"
                       type="number">
            </div>
            <div class="form-group">
                <label for="quantity">Количество:</label>
                <input id="quantity"
                       matInput
                       [(ngModel)]="editedProduct.quantity"
                       [disabled]="!editMode"
                       type="number">
            </div>
            <div class="form-group">
                <label for="measure">Единица измерения:</label>
                <input id="measure"
                       matInput
                       [(ngModel)]="editedProduct.measure_id"
                       [disabled]="!editMode"
                       type="number">
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="editMode"
                    mat-raised-button
                    color="primary"
                    (click)="updateProduct()">Сохранить</button>
            <button mat-raised-button
                    (click)="toggleEditMode()">{{ editMode ? 'Отменить изменения' : 'Изменить' }}</button>
            <button mat-raised-button
                    color="warn"
                    (click)="deleteProduct()">Удалить</button>
        </div>
    </div>
</div>